<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="resources/css/style.css" />
  </head>
  <body>
    <div class="error">
         <h1>Error al conectar con la base de datos</h1>
    <p><%=message%></p>
    <img src="resources/img/meme.jpeg" alt="problemas tecnicos" />
    </div>
   
  </body>
</html>
