<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="resources/css/style.css" />
  </head>
  <body class="content-principal">
    <div class="contenedor">
   
      <form action="login" method="POST">
     
        <div class="svg">
            <h2>Login</h2>
            <img src="resources/img/logo.svg" alt="logo unahur">
        </div>
        <input class="input-login" type="text" name="user" id="user" placeholder="Usuario" required />
        <input
        class="input-login"
          type="password"
          name="pass"
          id="pass"
          placeholder="Contraseña"
          required
        />
        <div class="div-login">
          <button type="submit" class="btn-login" value="login">Login</button>
          <button class="btn-register">
            <a href="register">Registrarse</a>
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
