<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="resources/css/style.css" />
  </head>
  <body class="content-principal">
    <div class="contenedor">
      <form method="POST" action="usu" >
        <div class="svg">
          <h2>Registro</h2>
          <img src="resources/img/logo.svg" alt="logo unahur">
        </div>

        <label for="user">Crear Username</label>
        <input
          type="text"
          name="user"
          id="user"
          placeholder="Username"
          required
        />

        <label for="pass">Crear Contraseña</label>
        <input type="password" name="pass" placeholder="Password"  id="password" required />
        <div id="message"></div>

        <div class="btn-registro">
          <button class="btn-cancelar">
            <a href="/login">Cancelar</a>
          </button>
          <button type="submit" class="btn-login">
            <a> Crear </a>
          </button>
        </div>
      </form>
    </div>

  <script>
   
  </script>
  </body>
</html>
